@CHARSET "ISO-8859-1";

div{
	border: 1px dotted gray;  /*-- dotted cad avec la couleur--*/
 	padding:  10px; /* espace entre bordure et une texte */
 	margin: 10px; /*marge entre 2 diov*/
 	
 
}

.table1 th{
	border: 1px dotted gray; 
 	padding:  10px; 
 	background:pink;
 	
 }
 .table1 td{
	border: 1px dotted gray; 
 	padding:  10px; 
 	background:green;
 	
 }
 .table1 th{
	border: 1px dotted gray; 
 	padding:  10px; 
 	background:pink;
 	
 }
span.current{ /*chaque span ayant la class current */
	border: 1px solid gray; 
 	padding:  5px; 
 	margin:  5px;
 	background:green;
 	
 }
 span.autrePage{ /*chaque span ayant la class current */
	border: 1px solid gray; 
 	padding:  5px; 
 	margin:  5px;
 	background:green;
 	
 }
 
 .error{
  color: red;
 }
 
 
 .infoClient
 {
  background-color: silver;
 }
 .infoH {
  background-color: silver;
 }
 
 /* sFrom My layout
 */
 body {
	background-color: #f0f0f0;

}

 #container {
    width: 1000px;
      margin: 0 auto;
}

#primary {
    float: left;
    width: 100px;
    height: 600px
    
}

#content {
    float: left;
    width: 690px;
     height: 600px
  
}

#secondary {
    float: right;
    width: 80px;
     height: 600px
   
}

#footer {
    clear: both;
    
}

<!--MENU WIDGET!-->

a:focus {
	outline: none;
}
.clear {
	clear: both;
	background-color:  #577295;
	
}
#page-wrap {
	position: relative;
	width: 680px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1px;
}
ul#main-nav {
	margin-left: 5px;
}
ul#main-nav li {
	float: left;
	position: relative;
	margin-left: -20px;
	display: inline;
}
ul#main-nav li a {
	position: relative;
	width: 110px;
	height: 29px;
	display: block;
	background-image: url('../image/tabs.png');
	background-position: center center;
	color: #44403b;
	text-decoration: none;
	font-size: 14px;
	padding-top: 12px;
	text-align: left;
	padding-left: 30px;
	font-weight: bold;
}
ul#main-nav li.home a {
	background-image: url('../image/tab-home.png');
}
ul#main-nav li.current a {
	background-position: top;
	color: #ffffff;
}
ul#main-nav li a:hover {
	background-position: bottom;
	color: #ffffff;
}
ul#main-nav li.current a:hover {
	background-position: top; /*To Prevent the Current tab from changing colour on hover*/
	color: #ffffff;
}
ul#main-nav li.current {
	z-index: 100;
}
ul#main-nav li.home {
	z-index: 100;
}
ul#main-nav li.portfolio {
	z-index: 99;
}
ul#main-nav li.services {
	z-index: 98;
}
ul#main-nav li.about {
	z-index: 97;
}
ul#main-nav li.contact {
	z-index: 96;
}

#featured {
	position: relative;
	background-color: #577295;
	background-image: url('../images/featured-border.jpg');
	background-repeat: repeat-y;
	background-position: left;
	height: 272px;
	color: #ffffff;
}
#featured h1 {
	font-size: 24px;
	position: relative;
	margin-bottom: 17px;
}
#featured p {
	line-height: 18px;
	font-size: 12px;
}
#featured-content{
	float: right;
	position: relative;
	width: 325px;
	margin-top: 10px;
	margin-right: 10px;
	display: inline;
}


#primary ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 95px;
    background-color: #f1f1f1;
    border: 0px solid #555;
}

#primary li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

#primary li {
    text-align: center;
    border-bottom: 1px solid #555;
}

#primary li:last-child {
    border-bottom: none;
}

#primary li a.active {
    background-color: #4CAF50;
    color: white;
}

#i n
 vprimary li a:hover:not(.active) {
    background-color: #555;
    color: white;
}



 
.errorblock {  
 color: #ff0000;  
 background-color: #ffEEEE;  
 border: 3px solid #ff0000;  
 text-decoration:blink;
 padding: 8px;  
 margin: 16px;  
}  


/*
vertical MENUS


*/




